body {
  color: vampire black; 
  background: linear-gradient(110deg, #4e4b2c 50%, #78866b 51%); 
}

header {
  border: solid black 2px;
  border-bottom: solid black 10px;
  height: 100px;
  text-align: center;
  color: #00FF41;
  border-bottom: black, 4px, solid
}

div {
  height: 250px;
  border-bottom: solid black 5px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: normal; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
  
